extends layout

block content
  h1 Multabell
  form(method='POST', action='/search')
    input(type='text', name='plate', placeholder='Escribe tu placa')
    button(type='submit') Buscar
  if message
    span Se ha guardado/actualizado tus placas/multas
  if placas
    h4 Placas registradas
    for placa in placas
      a(href='/multas/'+placa.id) #{placa.id}
      br