extends layout

block content
    h1 Multas:
    if multas
        for multa in multas 
            span Boleta: #{multa[0]}
            br
            br
            span Fecha: #{multa[2]}
            br
            span Infracción: #{multa[3]}
            br
            span Descripción: #{multa[4]}
            br
            span Monto: #{multa[5]}
            br
            br
            br
        h2 ¿Quieres guardar tus multas en nuestra app?
        form(method='POST', action='/search/save')
            input(type="hidden", name="multas", value=data)
            button(type='submit') Guardar
    else
        span No tienes multas